{% extends "__layout.twig" %}

{% block content %}
<div class="row align-items-center">
<form enctype="multipart/form-data" method="POST" class="row">
        <div class = "row text-center">
            <div class="col-8">
                <label class="form-label">Логин</label>
				<input type="text" class="form-control" name="username">
            </div>

            <div class="col-8">
                <label class="form-label">Пароль</label>
				<input type="password" class="form-control" name="password">
            </div>

            <div class="col-8 mt-3">
                <button type="submit" class="btn btn-primary">Войти</button>
            </div>
        </div>
</form>
</div>

{% endblock %}