{% extends "object.twig" %}

{% block objectContent %}
<div class="container">
    <h4>
    {{}}
    <br>RTX 3090 - почти самая мощная звуковая карта для 4K во фрутилупсе и аблтоне, мать будет в поряде, бп как повезет<br> <br>
    <br> <i class="fa-solid fa-money-bill-1-wave fa-beat"></i> 1537$ - Стоимость (но у нас раза в 1.5 больше, РА СИ Я) <br>
    <br> <i class="fa-solid fa-fire fa-beat"></i> 69/100 - Мощность в рейтинге видеокарт
    </h4>
</div>
{% endblock %}