{% extends "__layout.twig" %}

{% block content %}
    <h1>{{title}}</h1>
    <h2>{{description}}</h2>
    <div class="container mt-5">
    
    <a class="btn active me-3" href="/videocards/{{id_v}}/info"><strong>Описание</strong></a>
    <a class="btn active" href="/videocards/{{id_v}}/image" ><strong>Картинка</strong></a>
    </div>
    <div class="container">
    {% block objectContent %}
    {% endblock %}
    </div>
{% endblock %}