{% extends "object.twig" %}

{% block objectContent %}
<div class="container">
    <h4>
    <br>RTX 4090 - самая мощная видеоаппаратура для 8K гейминга и Киберпука 2077 на ультрах, которая поломает твою мать, спалит бп и сделает нищим<br> <br>
    <br> <i class="fa-solid fa-money-bill-1-wave fa-beat"></i> 2565$ - Стоимость (но у нас раза в 2 больше, РА СИ Я) <br>
    <br> <i class="fa-solid fa-fire fa-beat"></i> 100/100 - Мощность в рейтинге видеокарт
    </h4>
</div>
{% endblock %}